<h1>筋トレ記録</h1>
<p>日々の筋トレを記録して、次に繋げよう。</p>

<%= link_to new_user_registration_path, class: "btn-blue" do %>
    新規登録<i class="fas fa-user-plus faa-ring animated-hover"></i>
<% end %>

<%= link_to new_user_session_path, class: "btn-pink" do %>
    ログイン<i class="fas fa-sign-in-alt fa-fw faa-ring animated-hover"></i>
<% end %>
