<%= form_with(model: User.new, url: user_session_path, local: true) do |f| %>
  <%= f.hidden_field :email, value: "test@example.com" %>
  <%= f.hidden_field :password, value: "abc123ii" %>
  <div class="btn-position">
    <%= f.submit "テストユーザーでログイン", class:"btn-green" %>
  </div>
<% end %>
