// Place all the styles related to the mypages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.memo-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  .memo-info {
    span {
      font-size: 3.2rem;
      font-weight: bold;
      padding-right: 5px;
    }
  }
}

.memo-title {
  font-size: 1.1em;
  font-weight: bold;
}

.memo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.view {
  width: 48%;
  margin: 10px 0;
  padding: 0px 15px 15px 15px;
  line-height: 2.5;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}

.graph-content {
  margin-bottom: 15px;
}

.memo-detail {
  height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 -20px 12px -12px #0003 inset;
  table {
    width: 100%;
    font-size: 1.3rem;
    thead {
      th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: rgb(255, 189, 145);
      }
      .tab-date {
        width: 25%;
      }
      .tab-part {
        width: 10%;
      }
      .tab-content {
        width: 65%;
      }
      .tab-weight {
        width: 20%;
      }
      .tab-bfp {
        width: 30%;
      }
      .tab-bmi {
        width: 25%;
      }
      .tab-lbm {
        width: 25%;
      }
    }
    tbody {
      tr {
        td {
          text-align: center;
        }
        &:nth-child(even) {
          background-color: rgb(243, 243, 243);
        }
        &:hover {
          background-color: rgb(255, 233, 187);
        }
      }
    }
  }
}
