<li>
    <%= link_to new_user_registration_path, class: "btn-blue" do %>
        新規登録 <i class="fas fa-user-plus faa-ring animated-hover fa-lg fa-fw"></i>
    <% end %>
</li>

<li>
    <%= link_to new_user_session_path, class: "btn-pink" do %>
        ログイン <i class="fas fa-sign-in-alt faa-ring animated-hover fa-lg fa-fw"></i>
    <% end %>
</li>
